*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .main_container{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
} */
.container{
    font-family: 'Times New Roman';
    border: 3px solid red;
    font-weight: bold;
    font-size: 15px;
    width: 40%;
    height: 50%;
    margin: 5rem auto;
    padding: 1rem 0.7rem;
}
.head{
    width: 100%;
    height: auto;
    border: 3px solid red;
    padding: 4px;
    margin: 1rem 0rem;
}

ul .head{
    width: 93.6%;
    margin-left:2.5rem;
}

.main{
    border: 3px solid red;
    height: 40px;
}
.para{
    margin-top: 5px;
    margin-left: 12px;
}
button{
    border: 3px solid red;
    padding: 8px 15px;
}
a{
    border: 3px solid red;
    padding: 10px 18px;
    text-align: center;
    font-size: 16px;
    text-decoration: underline;
    color:blue;
}
ul{
    margin-left: -41px;
}

